<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.kkun.cc" target="_blank">BLOG</a> |
             <a class="link" href="http://www.qdu.edu.cn" target="_blank">QDU</a> |
            <a class="link" href="http://www.niit.com.cn" target="_blank">NIIT</a> |
            <a class="link" href="http://www.reckful.studio" target="_blank">SB</a>
        </div>
        <p class="copyright">
            Copyright © 2017 kkun.cc All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>