/*
* @Author: kkun
* @Date:   2017-06-19 20:53:28
* @Last Modified by:   kkun
* @Last Modified time: 2017-06-20 03:15:13
*/

body{
    background : url('../../image/5.jpeg');
    color : red;
    font-size : 50px;
}